.cardInfo-class{
    width:400px;
    padding:10px;
    padding-top:20px;
    text-align: center;
    border:2px solid gray;
    margin-left:-80px;
    margin-top:60px;
    height:120px;
    border-radius: 20px;
    background:white;
}
.cardInfo-class .cardInfo-btn{
    margin-top:25px;
    width:70px;
    height:25px;
    font-size:15px;
    border-radius:10px;
    transition:all .25s ease-in-out;

}
.cardInfo-class .cardInfo-btn:hover{
    background: rgb(49, 178, 221);
    color: white;
    transform:scale(1.2);
     border:2px white solid;
     cursor:pointer;
    transition:all .25s ease-in-out;
}
h4{
    text-align: center;
    color: rgb(73, 4, 4);
}
h3{
    text-align: center;
    color: black;
}

