.footer-class{
        width:100%;
        height:40px;
        border-top:2px solid gray;
        background:lemonchiffon;
        text-align:center;
        border-top-color: lightyellow;
        font-size: 13px;
    
}