
.home-class{
    width:100%;
    
    background: Gainsboro;
    text-align:center;
    border-top-color: lightgoldenrodyellow ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    
}
.tutorHome-class{
    width:65%;
    border-bottom:2px solid gray;
    background: lightgray;
    text-align:center;
    margin-left:180px;
    border-top-color: lightgoldenrodyellow ;
    border-radius: 80px 0px;
    height:315.5px;
}