.login-class{
    width: 400px;
    height: 400px;
    margin:50px 300px;
    background: lemonchiffon;
    box-shadow: 10px 10px 10px gray;
    border-radius:20px;
    
}
h2{
    padding-top:20px;
}
.signup-btn{
    margin-left:10px;
    cursor:pointer;
    color: blue
}
.signup-btn:hover{
    color: skyblue;
}
form{
    margin-top:50px;
}
form input{
    margin-bottom:20px;
}
.login-btn{
    margin-top:20px;
    width:70px;
    height:25px;
    font-size:15px;
    border-radius:5px;
    
}
.login-btn:hover{
    color: blue;
    transform:scale(1.3);
    border:2px white solid;
}
h6{
    padding-top:50px;
}