.menu-class{
    width:100%;
    border-top:2px solid gray;
    border-bottom:2px solid gray;
    background:lemonchiffon;
    color:blue;
}
h1{
    margin:10px;
}
.menu-list{
    display:inline-flex;
    margin:0px;
}
.menu-list li{
    margin-right:50px;
    color:black;
    font-weight: bold;
    margin-bottom:10px;
}
.menu-list li:hover{
    cursor: pointer;
    color:blue;
}
.menu-class .selected-page{
    color: blue;
}