.menu-class{
    width:100%;
    border-top:2px solid gray;
    border-bottom:2px solid gray;
    background:lemonchiffon;
    color: rgb(103, 109, 116);
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}
h1{
    margin:10px;
}
.menu-list{
    display:inline-flex;
    margin:0px;
}
.menu-list li{
    margin-right:50px;
    color:black;
    font-weight: bold;
    margin-bottom:10px;
}
.menu-list li:hover{
    cursor: pointer;
    color:blue;
}
.menu-class .selected-page{
    color: white;
   
    border-radius: 15px;
}
.menu-class .selected-page .menu-li{
    background: dodgerblue;
}
.menu-class .menu-li{
   width:70px;
    background: lightgray;
    border: 1px solid gray;
    border-radius: 15px;
    padding:3px 10px;
    text-align: center;
    transition:all .25s ease-in-out;
}
.menu-class .menu-li:hover{
    background: dodgerblue;
    color: white;
    transition:all .35s ease-in-out;
}