
.signup-class{
    width: 600px;
    margin:30px 230px;
    background: Gainsboro;
    box-shadow: 10px 10px 10px gray;
    border-radius:20px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    
}
.signup-class .left-input{
    margin-right:100px;
}
.signup-class .profile-input{
    margin-left:10px;
    margin-right:0px;
}
.signup-class .desig-label{
    margin-right:5px;
}
.signup-class .profile-btn,
.signup-class .profile-label,
.signup-btn{
    margin-top:20px;
    width:70px;
    height:25px;
    font-size:15px;
    border-radius:5px;
    margin-bottom:10px;
    transition:all .25s ease-in-out;
    
}
.signup-class .profile-btn:hover,
.signup-class .profile-label:hover,
.signup-btn:hover{
    background: rgb(104, 203, 236);
    color: black;
    transform:scale(1.2);
    border:2px lavender solid;
    transition:all .25s ease-in-out;
    
    cursor: pointer;
}
.signup-class .profile-label{
    margin-left:10px;
    width:120px;
}
.signup-class .profile-btn{
    margin-left: -60px;
    width:70px;
}
.yesComp-class{
    padding-bottom:20px;
}
.signup-class .signup-input{
    border-radius: 5px;
    height:25px;
    width: 200px;
    border:2px solid lavender;
    transition:all .25s ease-in-out;
    box-shadow: -8px 10px 5px 0px rgba(136,107,107,0.75);
-webkit-box-shadow: -8px 10px 5px 0px rgba(136,107,107,0.75);
-moz-box-shadow: -8px 10px 5px 0px rgba(136,107,107,0.75);
}
.signup-class .signup-input:hover{
    border:2px solid rgb(104, 203, 236);
    transform:scale(1.08);
    transition:all .25s ease-in-out;
    

}
.signup-class .signup-select{
    border-radius: 5px;
    height:25px;
    margin-right: 48px;
}
.signup-login-btn{
    margin-left:10px;
    cursor:pointer;
    color: blue
}
.signup-login-btn:hover{
    color: skyblue;
}