.studentDashboard-class{
    width: 100%;
    background: Gainsboro;
    height:273px;
    overflow: scroll;
    overflow-x: hidden;
}
.studentDashboard-class h2{
  text-align: center;
}
.customers {
    font-family: "Times New Roman", Times, serif;
    border-collapse: collapse;
    width: 100%;
    margin-top:0px;
    font-weight: bold;
    text-align: center;
  }
  
  .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
    
  }
  
  .customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .customers tr:hover {background-color: lightskyblue;}
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }
  .customers .sr-th,
  .customers .sr-td{
    width:50px;
  }
  .customers .lvl-th,
  .customers .lvl-td{
    width:70px;
}
.customers .sub-th,
.customers .sub-td{
  width: 130px;
}
.customers .topic-th,
.customers .topic-td{
    width: 452px;
    text-align: left;
}

.customers .tut-th,
.customers .tut-td{
    width: 150px;
}
.tutorStop-btn,
.customers .playTut-btn,
.customers .play-btn{
    width:50px;
    height:20px;
    font-size:10px;
    margin-right:20px;
    border-radius:8px;
    transition:all .35s ease-in-out;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}
.tutorStop-btn{
  position:absolute;
  z-index: 120;
  margin-top:-34px;
  margin-left:740px;
  
}
.customers .playTut-btn{
  margin-right:0px;
}
.tutorStop-btn:hover,
.customers .playTut-btn:hover,
.customers .play-btn:hover{
    background: rgb(69, 89, 95);
    transition:all .35s ease-in-out;
    color: white;
    transform:scale(1.1);
    border:2px rgb(69, 89, 95) solid;
    cursor: pointer;
}

.studentDashboard-class-button-bk{
  position: absolute;
  z-index: 201;
  margin-top: -150px;
  margin-left:480px;
  width:70px;
  height:25px;
  color: rgb(212, 212, 236);
  background-color: rgb(13, 14, 13);
  font-size:15px;
  border:2px solid white;
  border-radius:15px;
  transition:all .25s ease-in-out;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.studentDashboard-class-button-bk:hover{
  background: rgb(13, 14, 13);
  color: white;
  transform:scale(1.2);
  transition:all .25s ease-in-out;
  cursor:pointer;
}
.studentDashboard-class-button{
  position: absolute;
  z-index: 101;
  margin-top: -32px;
  margin-left:400px;
  width:200px;
  height:27px;
  color: darkblue;
  background-color: rgb(187, 226, 47);
  font-size:15px;
  border-radius:20px;
  transition:all .25s ease-in-out;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.studentDashboard-class-button:hover{
  background: rgb(187, 226, 47);
  color: blue;
  transform:scale(1.2);
  transition:all .25s ease-in-out;
  cursor:pointer;
}
*/
/*------------------------TutuorDashboard-CSS starts--------------------------*/
.Tutor-dashboard{
  width:100%;
  background: Gainsboro;
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
}
.video-description-class{
  width: 100%;
  background: #4CAF50;
}



.customers .srTut-th{
  width:27px;
}
.customers .srTut-td{
  width:37px;
}
.customers .lvlTut-th{
  width:42px;
}
.customers .lvlTut-td{
  width:42px;
}

.customers .subTut-th,
.customers .subTut-td{
  width: 110px;
}

.customers .topicTut-th,
.customers .topicTut-td{
  width: 340px;
  text-align: left;
}
.customers .ratingTut-th,
.customers .ratingTut-td{
  width: 55px;
}
.customers .saleTut-th,
.customers .saleTut-td{
  width: 60px;
}
.customers .btnTut-th,
.customers .btnTut-td{
  width: 80px;
}
.customers .btnEdit-th,
.customers .btnEdit-td{
  width: 50px;
}



/*-----------------------------Tutor Balance-CSS Starts--------------------------------*/
.Tutor-balance{
  width:100%;
  height:317px;
  background: Gainsboro;
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
}

.Tutor-balance .balance-class{
  background:rgb(73, 4, 4);
  height:70px;
  width:26%;
  margin-left:400px;
  margin-top:-210px;
  border-radius: 60px 10px;
}
.Tutor-balance .balance-class h3{
  color: white;
}
