.studentMyProfile-class{
    width:100%;
    border-bottom:2px solid gray;
    background: Gainsboro;
    border-top-color: lightgoldenrodyellow ;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
}
.present-info{
    width:30%;
    text-align:left;
    height:315px;

}
.present-info .profile{
    width:80px;
    height:80px;
    background: white;
    margin:18px auto;
    border-radius: 10px;
    margin-bottom:5px;
}
.present-info .profile img{
    width:100%;
    height:100%;
    border-radius: 10px;
}
.present-info h4{
    padding-left:15px;
    padding-bottom:1px;
    margin-bottom:0px;
    margin-right:0px;
}
.present-info .infos{
    color: blue;
    padding-top:0px;
    margin-top:0px;
    margin-left:10px;
}
.edit-info{
    width:69.2%;
    height:315px;
}

.edit-info h2{
    padding-top:0px;
    
}
.edit-info .profile-label,
.edit-info .level-label{
    margin-right:30px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

.profile-label,
.submit-btn{
    margin-top:20px;
    width:70px;
    height:25px;
    font-size:15px;
    border-radius:10px;
    transition:all .25s ease-in-out;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}
.edit-info .submit-btn{
  margin-right:70px;
}
.edit-info .submit-edit{
    margin-top:15px;
}
.profile-label{
    width:120px;
    margin-left:10px;
    transition:all .35s ease-in-out;
    margin-bottom: 0px;
    margin-top:0px;
}
.profile-label:hover,
.submit-btn:hover{
    background: dodgerblue;
    color: white;
    transition:all .35s ease-in-out;
    transform:scale(1.09);
    border:2px Gainsboro solid;
    cursor: pointer;
    
}
.edit-info .left-input{
    margin-right:100px;
}

.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .customers td, .customers th {
    padding: 0px;
  }
  
  .customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .edit info .customers .chng:hover{
      background:rgb(5, 65, 85);
  }
  .customers th {
    padding-top: 0px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  .customers-edit {
    font-family: "Times New Roman", Times, serif;
    border-collapse: collapse;
    width: 100%;
    font-weight: bold;
  }
  
  .customers-edit td, .customers-edit th {
    padding: 6px;
  }
  
  .customers-edit tr:nth-child(even){background-color: #f2f2f2;}
  
  .edit-info .customers-edit .chng:hover{
      background:rgb(174, 227, 245);
  }
  .customers-edit th {
    padding-top: 0px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  .edit-info .login-input-pf,
.edit-info .login-input{
    border-radius: 5px;
    height:25px;
    width: 200px;
    
    border:2px solid lavender;
    transition:all .25s ease-in-out;
    box-shadow: -8px 10px 5px 0px rgba(136,107,107,0.75);
-webkit-box-shadow: -8px 10px 5px 0px rgba(136,107,107,0.75);
-moz-box-shadow: -8px 10px 5px 0px rgba(136,107,107,0.75);
}
.edit-info .login-input{
    margin-bottom:5px;
}
.edit-info .login-input-pf:hover,
.edit-info .login-input:hover{
    border:2px solid rgb(104, 203, 236);
    transform:scale(1.08);
    transition:all .25s ease-in-out;
    

}
.edit-info .profile-input{
  color: transparent;
  margin-right:-140px;
}
.edit-info .signup-select{
    border-radius: 5px;
    height:30px;
    margin-right: 48px;
    transition:all .25s ease-in-out;
    box-shadow: -8px 10px 5px 0px rgba(136,107,107,0.75);
-webkit-box-shadow: -8px 10px 5px 0px rgba(136,107,107,0.75);
-moz-box-shadow: -8px 10px 5px 0px rgba(136,107,107,0.75);
}
.edit-info .signup-select:hover{
    transform:scale(1.09);
    transition:all .25s ease-in-out;
}


.edit-info .edit_form{
    padding-top: 5px;
    margin-top: 5px;
}

.customers-tutorInfo {
    font-family: "Times New Roman", Times, serif;
    border-collapse: collapse;
    width: 100%;
    font-weight: bold;
  }
  
  .customers-tutorInfo td, .customers-tutorInfo th {
    padding: 6px;
  }
  
  .customers-tutorInfo tr:nth-child(even){background-color: #f2f2f2;}
  .customers-tutorInfo tr:hover {background-color: lightskyblue;}
  .customers-tutorInfo th {
    padding-top: 0px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  .edit-info .edit-info-table{
      height:160px;
      overflow: scroll;
    overflow-x: hidden;
  }
  .customers-edit-tutor {
    font-family: "Times New Roman", Times, serif;
    border-collapse: collapse;
    width: 100%;
    font-weight: bold;
  }
  
  .customers-edit-tutor td, .customers-tutorInfo th {
    padding: 3px;
  }
  
  .customers-edit-tutor tr:nth-child(even){background-color: #f2f2f2;}
  .edit-info .customers-edit-tutor .chng:hover{
    background:rgb(174, 227, 245);
}
  .customers-edit-tutor th {
    padding-top: 0px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

