.uploadVideo-class h2{
    margin-top:0px;
}
.uploadVideo-class .form-selection{
    width:200px;
    margin-bottom:15px;
}
.uploadVideo-class .form-input{
    width:193px;
    margin-bottom:15px;
}

.uploadVideo-class .upload-btn{
    margin-top:10px;
    width:70px;
    height:25px;
    font-size:15px;
    border-radius:5px;
    margin-bottom:20px;
    transition:all .35s ease-in-out;
}
.uploadVideo-class .upload-btn:hover{
    background: rgb(104, 203, 236);
    transition:all .35s ease-in-out;
    color: white;
    transform:scale(1.3);
    border:2px white solid;
    cursor: pointer;
}

.uploadVideo-class .login-input-dr,
.uploadVideo-class .login-input{
    border-radius: 5px;
    height:25px;
    width: 200px;
    margin-bottom: 5px;
    border:2px solid lavender;
    transition:all .25s ease-in-out;
    box-shadow: -8px 10px 5px 0px rgba(136,107,107,0.75);
-webkit-box-shadow: -8px 10px 5px 0px rgba(136,107,107,0.75);
-moz-box-shadow: -8px 10px 5px 0px rgba(136,107,107,0.75);
}
.uploadVideo-class .login-input-dr:hover,
.uploadVideo-class .login-input:hover{
    border:2px solid rgb(104, 203, 236);
    transform:scale(1.08);
    transition:all .25s ease-in-out;
}
.uploadVideo-class .login-input-dr{
    height:50px;
}
.uploadVideo-class .login-select{
    border-radius: 5px;
    height:30px;
    margin-bottom: 5px;
}